/* Reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}






/* FlexBox 4x4 Grid */
.images {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }

.images > img {
    display: flex; 
    flex-basis: calc(25% - 40px);
    justify-content: center;
    flex-direction: column;
}

.images > img > img {
    display: flex;
    justify-content: center;
    flex-direction: row;
  }
  